/* ## Bring in all Compass Helpers */ 
@import "partials/base";
  
/* ============================================= */
/*	Universal						   			 */ 
/* ============================================= */

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}

sub, sup { 
	font-size: 75%;
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}
sup { 
	top: -0.5em; 
}
sub { 
	bottom: -0.25em; 
}

%clear {
	//TODO: Other browser support
	@include background-image(linear-gradient(left, hsl(0,100%,50%) 0%, hsl(0,100%,50%) 20%, hsl(12,100%,50%) 20%, hsl(12,100%,50%) 40%, hsl(24,100%,50%) 40%, hsl(24,100%,50%) 60%, hsl(36,100%,50%) 60%, hsl(36,100%,50%) 80%, hsl(45,100%,50%) 80%, hsl(45,100%,50%) 100%));
}

body {
	margin: 0 auto;
	width: 100%;
	min-width: 320px;
}

header {
	padding-top: 5px;
	@extend %clear;
	span {
		background-color: #EEEEEE;
		display: block;
		font-family: "freight-text-pro", sans-serif;
		font-size: 14px;
		font-style: italic;
		padding: 10px 15px;
		text-align: center;
	}
}

%content {
	max-width: 768px;
	margin: 0 auto;
}

#main {
	@extend %content;
	@include pie-clearfix;
	margin: 50px auto;
	@media (min-width: 768px) {
		@media (min-height:700px) { margin: 50px auto; }
		@media (min-height:800px) { margin: 75px auto; }
		@media (min-height:900px) { margin: 125px auto; }
		@media (min-height:1000px) { margin: 175px auto; }
		@media (min-height:1100px) { margin: 225px auto; }
		@media (min-height:1200px) { margin: 300px auto; }
		@media (min-height:1300px) { margin: 350px auto; }
	}
}

#demo {
	background-color: hsl(0,0%,5%);
	height: 500px;
	overflow-y: scroll;
	margin: 0 auto;
	width: 320px;
	@media (min-width: 768px) {
		float: left;
	}
	@media (max-width: 400px) {
		display: none;
	}
	iframe {
		width: 100%;
		height: 99%;
	}
}

#intro {
	padding: 0px 15px 20px 35px;
	@media (min-width: 768px) {
		width: 448px;
		float: left;
	}
	@media (max-width: 768px) {
		padding-top: 30px;
		max-width: 500px;
		margin: 0 auto;
	}
	@media (max-width: 540px) {
		padding: 0; padding-top: 30px;
		width: 90%;
		margin: 0 auto;
	}
}

a {
	color: lighten(rgb(0, 57, 118), 5%);
}

h1, h2 {
	color: hsl(20, 100%, 50%);
	font-family: "freight-sans-pro", sans-serif;
	font-size: 36px;
	margin-bottom: 5px;
}

p {
	color: #464646;
	font-family: "freight-text-pro", sans-serif;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 8px;
}

p#links {
	margin-top: 20px;
	a {
		display: block;
		margin-bottom: 5px;
	}
}

#share {
	margin-top: 20px;
	@include clearfix;
	div, iframe {
		float: left;
	}
	iframe {
		width: 90px !important;
	}
}

footer {
	@extend %content;
	background-color: #EEEEEE;
	display: block;
	font-size: 10px;
	margin-top: 20px;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
}




